<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">LMP SCHOOL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a id="navbarDropdownMenuLink" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Alunos</a>
                    <div class="dropdown-menu">
                        <a href="/alunos/add" class="dropdown-item">Cadastrar Alunos</a>      
                        <a href="/alunos" class="dropdown-item">Lista de Alunos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="navbarDropdownMenuLink" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Professores</a>
                    <div class="dropdown-menu">
                        <a href="/profissionais/add" class="dropdown-item">Cadastrar Profissionais</a>
                        <a href="/profissionais" class="dropdown-item">Lista de Profissonais</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="navbarDropdownMenuLink" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Classes</a>
                    <div class="dropdown-menu">
                        <a href="/classes/add" class="dropdown-item">Cadastro de classes</a>
                        <a href="/classes" class="dropdown-item">Lista das classes</a>
                        <a href="/alunos/callList" class="dropdown-item">Lista de Chamada</a> 
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="navbarDropdownMenuLink" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Salas</a>
                    <div class="dropdown-menu">                     
                        <a href="/alunos/sala/rosa" class="dropdown-item">Sala Rosa</a>
                        <a href="/alunos/sala/branca" class="dropdown-item">Sala Branca</a>
                        <a href="/alunos/sala/roxo" class="dropdown-item">Sala Roxoe</a>
                        <a href="/alunos/sala/vermelho" class="dropdown-item">Sala Vermelho</a>
                        <a href="/alunos/sala/verde" class="dropdown-item">Sala Verde</a>
                        <a href="/alunos/sala/azul" class="dropdown-item">Sala Azul</a>
                        <a href="/alunos/sala/amarelo" class="dropdown-item">Sala Amarelo</a>
                        <a href="/alunos/sala/prata" class="dropdown-item">Sala Prata</a>
                        <a href="/alunos/sala/laranja" class="dropdown-item">Sala Laranja</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Sobre Nós</a>
                </li>
                
            </ul>            
        </div>
    </div>
</nav>